body {
	margin: 0;
	background: #ff9955 url("/images/header.svg") repeat-x;
}

@font-face {
	font-family: "Survivant";
	src: url("/images/survivant.ttf");
}

h1 {
	font-family: "Survivant"
}

.titlewrap {
	width: 100%;
	height: 400px;
}

.title {
	text-align: center;
	margin: auto;
	font-size: 70px;
}
