@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
	font-family: "Survivant";
	src: url("/images/survivant.ttf");
}

@font-face {
	font-family: "League Gothic";
	src: url("/images/LeagueGothic-Regular.otf");
}

@font-face {
	font-family: "League Gothic";
	src: url("/images/LeagueGothic-Italic.otf");
	font-style: italic;
}

h1 {
	font-family: "Survivant", sans-serif;
	font-weight: normal;
}

h2, h3 {
	font-family: "League Gothic", sans-serif;
	font-weight: normal;
}

body {
	margin: 0;
	background: #ff9955 url("/images/header.svg") repeat-x;
	font-family: "Inter UI", sans-serif;
}

.titlewrap {
	width: 100%;
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 20px #ffffff;
}

.spacer {
	width: 100%;
	height: 60px;
}

.title {
	font-size: 70px;
	margin: 0;
}

.league {
	font-family: "League Gothic";
	margin: 0;
}

.center {
	display: block;
	text-align: center;
}

.topnav {
	display: flex;
	margin: 10px 60px;
	padding: 5px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.6);
	justify-content: center;
	flex-wrap: wrap;
}

.topnav > a {
	font-family: "League Gothic";
	font-size: 30px;
	margin: 0 20px;
}

a {
	color: inherit;
	text-decoration: none;
	transition: opacity 0.25s;
}

a:hover {
	opacity: 0.6;
}

main {
	padding: 20px;
	margin: 20px auto;
	max-width: 1152px;
}

p > a {
	font-weight: bolder;
}

abbr {
	text-decoration: none;
	border-bottom: 1px dotted;
	display: inline-block;
	line-height: 0.9;
}

.productionflex {
	display: grid;
	grid-gap: 20px;
	margin-bottom: 20px;
	grid-template-columns: max-content;
}

.productionbox {
	min-width: 300px;
	max-width: 346px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
}

.productionbox > img {
	float: left;
	border-radius: 50%;
	margin-right: 10px;
}

.productionbox > h2 {
	margin: 0;
	margin-bottom: 6px;
}

.totop {
	display: block;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	margin: 20px auto;
	width: fit-content;
}
